.list {
  display: flex;
  flex-direction: column;
}
.name {
  width: 100px;
  height: 20px;
  border: 1px solid red;
  list-style-type: none;
  display: inline-block;
  padding: 4px 8px;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.name:hover,
.name.active {
  background-color: red;
  color: #fff;
}
